.container {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.photo-card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 230px;
}

.photo-card img{
    border-radius: 20px;
    width: 200px;
    height: 250px;
}

.photo-skeleton {
    border-radius: 20px;
    width: 200px;
    height: 250px;
    background-color: gray;
}
